* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

#wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: rgb(50, 6, 92);
  justify-content: center;
  align-items: center;
}

#wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
}

#wrapper-logo {
  flex: 1;
  justify-content: center;
  align-items: center;
}

#wrapper-logo img {
  width: 300px;
  height: 200px;
}

#wrapper-form {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper-form h1{
  color: #eee;
  margin: 20px 0; 
}

#wrapper-form form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}

#wrapper-form input[type=email], input[type=password] {
  width: 70%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: rgba(50, 6, 92, 0.2);
  border: 1px solid rgba(100,100,100,1);
  color: #eee;
}


#wrapper-form input[type=email]:focus, input[type=password]:focus {
  outline: none;
  border: 1px solid rgba(219, 42, 90, 0.8)
}

/* animation */

#btn {
  background: rgba(219, 42, 90, 0.8);
  height: 40px;
  width: 73%;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 600ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 40px;
  width: 100%;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid rgba(219, 42, 90, 0.8);
}

/* register */

#register {
cursor: pointer;
margin-bottom: 10px;
}
#register a{
  color: rgb(114, 114, 114);
}